.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
} 
.card-container{
    width: 320px;
    background-color: white;
    border-radius: 4px ;
    padding: 16px;
   
}
.img{
    width: 288px ;
    height: 144px ;
    border-radius:8px ;
    
}
.title{
    font-size: 18px ;
    font-weight:600 ;
    padding-top: 16px;
    padding-bottom: 16px;
}
.des{
    font-weight: 400;
    font-size: 14px;
    
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 12px;
    padding-bottom: 12px;
  
}
.infos{
    font-size: 16px;
    font-weight: 500;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    margin-top: 16px;
    padding:8px 112px 8px 112px ;
    text-align: center;
    border-radius: 8px;
    color: aliceblue;
    background-color:#2F80ED ;
    border-color: aliceblue;
}